<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>שושו</string>
		<key>description</key>
		<string>להיט ההכרויות החדש
כאן תוכלו למצוא את הפרטנר שלכם ולדבר בטלפון אחד עם השני מבלי להחשף!</string>
		<key>image_name</key>
		<string>shushu_icon</string>
		<key>itunes_id</key>
		<string>1016575189</string>
	</dict>
	<dict>
		<key>name</key>
		<string>קקדו</string>
		<key>description</key>
		<string>קקדו! האפליקציה שתסגור לכם את 2015 בצחוק אחד גדול
שגעו את החברים שלכם עם שינוי קול או עם רעשי רקע</string>
		<key>image_name</key>
		<string>kakado_icon</string>
		<key>itunes_id</key>
		<string>1053293711</string>
	</dict>
	<dict>
		<key>name</key>
		<string>להב</string>
		<key>description</key>
		<string>הדרך הקלה והנוחה להקלטת שיחות באייפון</string>
		<key>image_name</key>
		<string>lahav_icon</string>
		<key>itunes_id</key>
		<string>1044888983</string>
	</dict>
	<dict>
		<key>name</key>
		<string>טלמי</string>
		<key>description</key>
		<string>מהיום כל אחד יכול להיות חוקר פרטי!
אפליקציה לזיהוי כל סוגי המקשרים, חיפוש מספרים ובדיקתם.
זיהוי מספר חסום, לא מזוהה, חיפושים מתקדמים ועוד.</string>
		<key>image_name</key>
		<string>tellme_icon</string>
		<key>itunes_id</key>
		<string>1078077007</string>
	</dict>
</array>
</plist>
